@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-M9qrizgbeN_H_font-family: "Inter", sans-serif;
  --mixin-M9qrizgbeN_H_font-size: 14px;
  --mixin-M9qrizgbeN_H_font-weight: 400;
  --mixin-M9qrizgbeN_H_font-style: normal;
  --mixin-M9qrizgbeN_H_color: #535353;
  --mixin-M9qrizgbeN_H_text-align: left;
  --mixin-M9qrizgbeN_H_text-transform: none;
  --mixin-M9qrizgbeN_H_line-height: 1.5;
  --mixin-M9qrizgbeN_H_letter-spacing: normal;
  --mixin-M9qrizgbeN_H_white-space: pre-wrap;
  --mixin-M9qrizgbeN_H_user-select: text;
  --mixin-M9qrizgbeN_H_text-decoration-line: none;
  --mixin-M9qrizgbeN_H_text-overflow: clip;
  --mixin-xkAGGeCjNiiz_color: #000000;
  --mixin-xkAGGeCjNiiz_font-weight: 600;
  --mixin-xkAGGeCjNiiz_font-size: 40px;
  --mixin-xkAGGeCjNiiz_line-height: 1;
  --mixin-xkAGGeCjNiiz_letter-spacing: -1px;
  --mixin-xkAGGeCjNiiz_white-space: pre-wrap;
  --mixin-ZPn3M215OS6g_color: #000000;
  --mixin-ZPn3M215OS6g_font-size: 30px;
  --mixin-ZPn3M215OS6g_font-weight: 600;
  --mixin-ZPn3M215OS6g_line-height: 1.1;
  --mixin-ZPn3M215OS6g_white-space: pre-wrap;
  --mixin-1Fyn1SFIlY49_color: #0070f3;
  --mixin-1Fyn1SFIlY49_white-space: pre-wrap;
  --mixin-XFKITCKCZaWj_color: #000000;
  --mixin-XFKITCKCZaWj_font-size: 24px;
  --mixin-XFKITCKCZaWj_font-weight: 600;
  --mixin-XFKITCKCZaWj_line-height: 1.2;
  --mixin-XFKITCKCZaWj_white-space: pre-wrap;
  --mixin---JLdvI1bl1u_color: #000000;
  --mixin---JLdvI1bl1u_font-size: 20px;
  --mixin---JLdvI1bl1u_font-weight: 600;
  --mixin---JLdvI1bl1u_line-height: 1.3;
  --mixin---JLdvI1bl1u_white-space: pre-wrap;
  --mixin-ClViwGPrRZUC_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ClViwGPrRZUC_border-bottom-color: #dddddd;
  --mixin-ClViwGPrRZUC_border-bottom-style: solid;
  --mixin-ClViwGPrRZUC_border-bottom-width: 1px;
  --mixin-ClViwGPrRZUC_border-left-color: #dddddd;
  --mixin-ClViwGPrRZUC_border-left-style: solid;
  --mixin-ClViwGPrRZUC_border-left-width: 1px;
  --mixin-ClViwGPrRZUC_border-right-color: #dddddd;
  --mixin-ClViwGPrRZUC_border-right-style: solid;
  --mixin-ClViwGPrRZUC_border-right-width: 1px;
  --mixin-ClViwGPrRZUC_border-top-color: #dddddd;
  --mixin-ClViwGPrRZUC_border-top-style: solid;
  --mixin-ClViwGPrRZUC_border-top-width: 1px;
  --mixin-ClViwGPrRZUC_border-bottom-left-radius: 3px;
  --mixin-ClViwGPrRZUC_border-bottom-right-radius: 3px;
  --mixin-ClViwGPrRZUC_border-top-left-radius: 3px;
  --mixin-ClViwGPrRZUC_border-top-right-radius: 3px;
  --mixin-ClViwGPrRZUC_font-family: "Inconsolata";
  --mixin-ClViwGPrRZUC_padding-bottom: 1px;
  --mixin-ClViwGPrRZUC_padding-left: 4px;
  --mixin-ClViwGPrRZUC_padding-right: 4px;
  --mixin-ClViwGPrRZUC_padding-top: 1px;
  --mixin-ClViwGPrRZUC_white-space: pre-wrap;
  --mixin-EIiB6WYqT773_border-left-color: #dddddd;
  --mixin-EIiB6WYqT773_border-left-style: solid;
  --mixin-EIiB6WYqT773_border-left-width: 3px;
  --mixin-EIiB6WYqT773_color: #888888;
  --mixin-EIiB6WYqT773_padding-left: 10px;
  --mixin-EIiB6WYqT773_white-space: pre-wrap;
  --mixin-zS0WY6P0XWnx_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-zS0WY6P0XWnx_border-bottom-color: #dddddd;
  --mixin-zS0WY6P0XWnx_border-bottom-style: solid;
  --mixin-zS0WY6P0XWnx_border-bottom-width: 1px;
  --mixin-zS0WY6P0XWnx_border-left-color: #dddddd;
  --mixin-zS0WY6P0XWnx_border-left-style: solid;
  --mixin-zS0WY6P0XWnx_border-left-width: 1px;
  --mixin-zS0WY6P0XWnx_border-right-color: #dddddd;
  --mixin-zS0WY6P0XWnx_border-right-style: solid;
  --mixin-zS0WY6P0XWnx_border-right-width: 1px;
  --mixin-zS0WY6P0XWnx_border-top-color: #dddddd;
  --mixin-zS0WY6P0XWnx_border-top-style: solid;
  --mixin-zS0WY6P0XWnx_border-top-width: 1px;
  --mixin-zS0WY6P0XWnx_border-bottom-left-radius: 3px;
  --mixin-zS0WY6P0XWnx_border-bottom-right-radius: 3px;
  --mixin-zS0WY6P0XWnx_border-top-left-radius: 3px;
  --mixin-zS0WY6P0XWnx_border-top-right-radius: 3px;
  --mixin-zS0WY6P0XWnx_font-family: "Inconsolata";
  --mixin-zS0WY6P0XWnx_padding-bottom: 3px;
  --mixin-zS0WY6P0XWnx_padding-left: 6px;
  --mixin-zS0WY6P0XWnx_padding-right: 6px;
  --mixin-zS0WY6P0XWnx_padding-top: 3px;
  --mixin-zS0WY6P0XWnx_white-space: pre-wrap;
  --mixin-Sg5ok6DILKXD_display: flex;
  --mixin-Sg5ok6DILKXD_flex-direction: column;
  --mixin-Sg5ok6DILKXD_align-items: stretch;
  --mixin-Sg5ok6DILKXD_justify-content: flex-start;
  --mixin-Sg5ok6DILKXD_list-style-position: outside;
  --mixin-Sg5ok6DILKXD_padding-left: 40px;
  --mixin-Sg5ok6DILKXD_position: relative;
  --mixin-Sg5ok6DILKXD_list-style-type: disc;
  --mixin-Sg5ok6DILKXD_white-space: pre-wrap;
  --mixin-GsO-izf9tKG4_display: flex;
  --mixin-GsO-izf9tKG4_flex-direction: column;
  --mixin-GsO-izf9tKG4_align-items: stretch;
  --mixin-GsO-izf9tKG4_justify-content: flex-start;
  --mixin-GsO-izf9tKG4_list-style-position: outside;
  --mixin-GsO-izf9tKG4_padding-left: 40px;
  --mixin-GsO-izf9tKG4_position: relative;
  --mixin-GsO-izf9tKG4_list-style-type: decimal;
  --mixin-GsO-izf9tKG4_white-space: pre-wrap;
  --mixin-pYNruo0hOrrX_color: #000000;
  --mixin-pYNruo0hOrrX_font-size: 16px;
  --mixin-pYNruo0hOrrX_font-weight: 600;
  --mixin-pYNruo0hOrrX_line-height: 1.5;
  --mixin-pYNruo0hOrrX_white-space: pre-wrap;
  --mixin-a-XoZH1a3fIk_color: #000000;
  --mixin-a-XoZH1a3fIk_font-size: 14px;
  --mixin-a-XoZH1a3fIk_font-weight: 600;
  --mixin-a-XoZH1a3fIk_line-height: 1.5;
  --mixin-a-XoZH1a3fIk_white-space: pre-wrap;
  --mixin-AOVmh2T06aLs_color: #3291ff;
  --mixin-AOVmh2T06aLs_white-space: pre-wrap;
  --mixin-7UeMg8mRPsQx_white-space: pre-wrap;
  --mixin-eKgoFsFWj9ZP_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-M9qrizgbeN_H_font-family);
  font-size: var(--mixin-M9qrizgbeN_H_font-size);
  font-weight: var(--mixin-M9qrizgbeN_H_font-weight);
  font-style: var(--mixin-M9qrizgbeN_H_font-style);
  color: var(--mixin-M9qrizgbeN_H_color);
  text-align: var(--mixin-M9qrizgbeN_H_text-align);
  text-transform: var(--mixin-M9qrizgbeN_H_text-transform);
  line-height: var(--mixin-M9qrizgbeN_H_line-height);
  letter-spacing: var(--mixin-M9qrizgbeN_H_letter-spacing);
  white-space: var(--mixin-M9qrizgbeN_H_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-xkAGGeCjNiiz_color);
  font-weight: var(--mixin-xkAGGeCjNiiz_font-weight);
  font-size: var(--mixin-xkAGGeCjNiiz_font-size);
  line-height: var(--mixin-xkAGGeCjNiiz_line-height);
  letter-spacing: var(--mixin-xkAGGeCjNiiz_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-ZPn3M215OS6g_color);
  font-size: var(--mixin-ZPn3M215OS6g_font-size);
  font-weight: var(--mixin-ZPn3M215OS6g_font-weight);
  line-height: var(--mixin-ZPn3M215OS6g_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-1Fyn1SFIlY49_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-XFKITCKCZaWj_color);
  font-size: var(--mixin-XFKITCKCZaWj_font-size);
  font-weight: var(--mixin-XFKITCKCZaWj_font-weight);
  line-height: var(--mixin-XFKITCKCZaWj_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin---JLdvI1bl1u_color);
  font-size: var(--mixin---JLdvI1bl1u_font-size);
  font-weight: var(--mixin---JLdvI1bl1u_font-weight);
  line-height: var(--mixin---JLdvI1bl1u_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-ClViwGPrRZUC_font-family);
  border-radius: var(--mixin-ClViwGPrRZUC_border-top-left-radius)
    var(--mixin-ClViwGPrRZUC_border-top-right-radius)
    var(--mixin-ClViwGPrRZUC_border-bottom-right-radius)
    var(--mixin-ClViwGPrRZUC_border-bottom-left-radius);
  padding: var(--mixin-ClViwGPrRZUC_padding-top)
    var(--mixin-ClViwGPrRZUC_padding-right)
    var(--mixin-ClViwGPrRZUC_padding-bottom)
    var(--mixin-ClViwGPrRZUC_padding-left);
  border-top: var(--mixin-ClViwGPrRZUC_border-top-width)
    var(--mixin-ClViwGPrRZUC_border-top-style)
    var(--mixin-ClViwGPrRZUC_border-top-color);
  border-right: var(--mixin-ClViwGPrRZUC_border-right-width)
    var(--mixin-ClViwGPrRZUC_border-right-style)
    var(--mixin-ClViwGPrRZUC_border-right-color);
  border-bottom: var(--mixin-ClViwGPrRZUC_border-bottom-width)
    var(--mixin-ClViwGPrRZUC_border-bottom-style)
    var(--mixin-ClViwGPrRZUC_border-bottom-color);
  border-left: var(--mixin-ClViwGPrRZUC_border-left-width)
    var(--mixin-ClViwGPrRZUC_border-left-style)
    var(--mixin-ClViwGPrRZUC_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-EIiB6WYqT773_color);
  padding-left: var(--mixin-EIiB6WYqT773_padding-left);
  border-left: var(--mixin-EIiB6WYqT773_border-left-width)
    var(--mixin-EIiB6WYqT773_border-left-style)
    var(--mixin-EIiB6WYqT773_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-zS0WY6P0XWnx_font-family);
  border-radius: var(--mixin-zS0WY6P0XWnx_border-top-left-radius)
    var(--mixin-zS0WY6P0XWnx_border-top-right-radius)
    var(--mixin-zS0WY6P0XWnx_border-bottom-right-radius)
    var(--mixin-zS0WY6P0XWnx_border-bottom-left-radius);
  padding: var(--mixin-zS0WY6P0XWnx_padding-top)
    var(--mixin-zS0WY6P0XWnx_padding-right)
    var(--mixin-zS0WY6P0XWnx_padding-bottom)
    var(--mixin-zS0WY6P0XWnx_padding-left);
  border-top: var(--mixin-zS0WY6P0XWnx_border-top-width)
    var(--mixin-zS0WY6P0XWnx_border-top-style)
    var(--mixin-zS0WY6P0XWnx_border-top-color);
  border-right: var(--mixin-zS0WY6P0XWnx_border-right-width)
    var(--mixin-zS0WY6P0XWnx_border-right-style)
    var(--mixin-zS0WY6P0XWnx_border-right-color);
  border-bottom: var(--mixin-zS0WY6P0XWnx_border-bottom-width)
    var(--mixin-zS0WY6P0XWnx_border-bottom-style)
    var(--mixin-zS0WY6P0XWnx_border-bottom-color);
  border-left: var(--mixin-zS0WY6P0XWnx_border-left-width)
    var(--mixin-zS0WY6P0XWnx_border-left-style)
    var(--mixin-zS0WY6P0XWnx_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-Sg5ok6DILKXD_display);
  flex-direction: var(--mixin-Sg5ok6DILKXD_flex-direction);
  align-items: var(--mixin-Sg5ok6DILKXD_align-items);
  justify-content: var(--mixin-Sg5ok6DILKXD_justify-content);
  list-style-position: var(--mixin-Sg5ok6DILKXD_list-style-position);
  padding-left: var(--mixin-Sg5ok6DILKXD_padding-left);
  position: var(--mixin-Sg5ok6DILKXD_position);
  list-style-type: var(--mixin-Sg5ok6DILKXD_list-style-type);
  flex-column-gap: var(--mixin-Sg5ok6DILKXD_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-GsO-izf9tKG4_display);
  flex-direction: var(--mixin-GsO-izf9tKG4_flex-direction);
  align-items: var(--mixin-GsO-izf9tKG4_align-items);
  justify-content: var(--mixin-GsO-izf9tKG4_justify-content);
  list-style-position: var(--mixin-GsO-izf9tKG4_list-style-position);
  padding-left: var(--mixin-GsO-izf9tKG4_padding-left);
  position: var(--mixin-GsO-izf9tKG4_position);
  list-style-type: var(--mixin-GsO-izf9tKG4_list-style-type);
  flex-column-gap: var(--mixin-GsO-izf9tKG4_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-pYNruo0hOrrX_color);
  font-size: var(--mixin-pYNruo0hOrrX_font-size);
  font-weight: var(--mixin-pYNruo0hOrrX_font-weight);
  line-height: var(--mixin-pYNruo0hOrrX_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-a-XoZH1a3fIk_color);
  font-size: var(--mixin-a-XoZH1a3fIk_font-size);
  font-weight: var(--mixin-a-XoZH1a3fIk_font-weight);
  line-height: var(--mixin-a-XoZH1a3fIk_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-AOVmh2T06aLs_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
